<h1 class="h4">Toplantı katılım listesi</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Ad</td>
            <td>Email</td>
            <td>Katıım Durumu</td>
            <td></td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Esra Evren</td>
            <td>info@esraevren.com</td>
            <td>Evet</td>
            <td><a class="btn btn-sm btn-primary" href="#">Detay</a></td>
        </tr>
        <tr>
            <td>Burak Evren</td>
            <td>info@burakevren.com</td>
            <td>Evet</td>
            <td><a class="btn btn-sm btn-primary"  href="#">Detay</a></td>
        </tr>
    </tbody>
</table>